:root {
    --bg-botao: #f0f0f0;
    --borda-botao: solid 1px #888;
}

.botao {
    font-size: 1.4em;
    background-color: var(--bg-botao);
    border: none;
    border-right: var(--borda-botao);
    border-bottom: var(--borda-botao);
    outline: none;
}


.botao:active {
    background-color: #ccc;
}


.botao.dobro {
    grid-column: span 2;
}


.botao.triplo {
    grid-column: span 3;
}


.botao.operacao {
    background-color: #fa8231;
    color: #FFF;
}

.botao.operacao:active {
    background-color: #fa8231cc;
}